<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>children</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>children</key>
					<array/>
					<key>data</key>
					<dict>
						<key>codepoint</key>
						<integer>8984</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>data</key>
					<dict>
						<key>codepoint</key>
						<integer>9631</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>data</key>
					<dict>
						<key>codepoint</key>
						<integer>9729</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>data</key>
					<dict>
						<key>codepoint</key>
						<integer>9731</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>data</key>
					<dict>
						<key>codepoint</key>
						<integer>9733</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>data</key>
					<dict>
						<key>codepoint</key>
						<integer>9763</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>data</key>
					<dict>
						<key>codepoint</key>
						<integer>9764</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>data</key>
					<dict>
						<key>codepoint</key>
						<integer>9772</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>data</key>
					<dict>
						<key>codepoint</key>
						<integer>9775</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>data</key>
					<dict>
						<key>codepoint</key>
						<integer>9786</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>data</key>
					<dict>
						<key>codepoint</key>
						<integer>9819</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>data</key>
					<dict>
						<key>codepoint</key>
						<integer>9832</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>data</key>
					<dict>
						<key>codepoint</key>
						<integer>9834</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>data</key>
					<dict>
						<key>codepoint</key>
						<integer>10087</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>data</key>
					<dict>
						<key>codepoint</key>
						<integer>12320</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>data</key>
					<dict>
						<key>codepoint</key>
						<integer>63743</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>data</key>
					<dict>
						<key>codepoint</key>
						<integer>8997</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>data</key>
					<dict>
						<key>codepoint</key>
						<integer>65018</integer>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>data</key>
					<dict>
						<key>codepoint</key>
						<integer>65533</integer>
					</dict>
				</dict>
			</array>
			<key>data</key>
			<dict>
				<key>name</key>
				<string>earthlingsoft</string>
			</dict>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8594</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8658</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8592</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8656</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8596</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8660</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8593</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8657</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8595</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8659</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8597</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8661</integer>
							</dict>
						</dict>
					</array>
					<key>data</key>
					<dict>
						<key>name</key>
						<string>Arrows</string>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>45</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8208</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8209</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8210</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8211</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8212</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8213</integer>
							</dict>
						</dict>
					</array>
					<key>data</key>
					<dict>
						<key>name</key>
						<string>Dashes</string>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>223</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>64256</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>64257</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>64258</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>64259</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>64260</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>64261</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>64262</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>306</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>307</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>64261</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>198</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>230</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>338</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>339</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>630</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>7444</integer>
							</dict>
						</dict>
					</array>
					<key>data</key>
					<dict>
						<key>name</key>
						<string>Latin Ligatures</string>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>183</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>215</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>247</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8240</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>189</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8531</integer>
							</dict>
						</dict>
					</array>
					<key>data</key>
					<dict>
						<key>name</key>
						<string>Math</string>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>183</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8230</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8253</integer>
							</dict>
						</dict>
					</array>
					<key>data</key>
					<dict>
						<key>name</key>
						<string>Punctuation</string>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8216</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8217</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8218</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8220</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8221</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8222</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>187</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>171</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8250</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8249</integer>
							</dict>
						</dict>
					</array>
					<key>data</key>
					<dict>
						<key>name</key>
						<string>Quotes</string>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8544</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8545</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8546</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8547</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8548</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8549</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8550</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8551</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8552</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8553</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8554</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8555</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8556</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8557</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8558</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8559</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8576</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8577</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8578</integer>
							</dict>
						</dict>
					</array>
					<key>data</key>
					<dict>
						<key>name</key>
						<string>Roman Numerals</string>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>169</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>174</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8471</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8482</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8470</integer>
							</dict>
						</dict>
					</array>
					<key>data</key>
					<dict>
						<key>name</key>
						<string>Signs</string>
					</dict>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>160</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8194</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8195</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8199</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8200</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8201</integer>
							</dict>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>data</key>
							<dict>
								<key>codepoint</key>
								<integer>8202</integer>
							</dict>
						</dict>
					</array>
					<key>data</key>
					<dict>
						<key>name</key>
						<string>Spaces</string>
					</dict>
				</dict>
			</array>
			<key>data</key>
			<dict>
				<key>name</key>
				<string>Typography</string>
			</dict>
		</dict>
	</array>
	<key>data</key>
	<dict>
		<key>name</key>
		<string>Favorites</string>
	</dict>
</dict>
</plist>
