<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IndexMD5</key>
	<array>
		<array>
			<string>715ce30d612504facfb43edf691d1ce6</string>
			<string>3.2.0</string>
		</array>
		<array>
			<string>715ce30d612504facfb43edf691d1ce6</string>
			<string>4.0.0</string>
		</array>
		<array>
			<string>1c7ae2622ffd63e95d93c5527287c1f3</string>
			<string>4.0.1</string>
		</array>
		<array>
			<string>1c7ae2622ffd63e95d93c5527287c1f3</string>
			<string>4.1.0</string>
		</array>
		<array>
			<string>4542d4ce7df6d369c1f721ce3285f054</string>
			<string>5.0.0</string>
		</array>
		<array>
			<string>f2f66258df6e9ce454d3f0fb41d76af9</string>
			<string>5.1.0</string>
		</array>
		<array>
			<string>108d5683dbd83a641a751efea35f580a</string>
			<string>5.2.0</string>
		</array>
		<array>
			<string>32084c431a31a9aca49bde79781c468f</string>
			<string>6.0.0</string>
		</array>
		<array>
			<string>f55c6fc7817d4f3afa5cd4a647a00f9d</string>
			<string>6.1.0</string>
		</array>
		<array>
			<string>8cfff0a526961d29d2566e5e737b2c55</string>
			<string>6.2.0</string>
		</array>
		<array>
			<string>479605f6b8224ce5409ccc98bcc886f5</string>
			<string>6.3.0</string>
		</array>
		<array>
			<string>abf415622f64846b9fcf69bba50f49dd</string>
			<string>7.0.0</string>
		</array>
      <array>
         <string>406e1564b9dabdf4e7e674484a07ea45</string>
         <string>8.0.0</string>
      </array>
	</array>
	<key>UnihanDataMD5</key>
	<array>
		<array>
			<dict>
				<key>Unihan_DictionaryIndices.txt</key>
				<string>3ebb3401d03138776e9e9ab7ee5b97e1</string>
				<key>Unihan_DictionaryLikeData.txt</key>
				<string>fe6cc318a1d742d19f4cf80f46e823cf</string>
				<key>Unihan_IRGSources.txt</key>
				<string>4c7eac87f77603f0979476c0055d2c01</string>
				<key>Unihan_NumericValues.txt</key>
				<string>6fe1dc0d95721a861eb6f721d6224cfd</string>
				<key>Unihan_OtherMappings.txt</key>
				<string>2205ab56b05af6c4ab5dd9a5d602fd21</string>
				<key>Unihan_RadicalStrokeCounts.txt</key>
				<string>9d0c4caa92207de44bc42e4504e7f820</string>
				<key>Unihan_Readings.txt</key>
				<string>e45234eebafb925d08741b9269175344</string>
				<key>Unihan_Variants.txt</key>
				<string>739c6473a0bdb7c3b3cda24d40f37c56</string>
			</dict>
			<string>5.2.0</string>
		</array>
		<array>
			<dict>
				<key>Unihan_DictionaryIndices.txt</key>
				<string>c9728a2dab72a2404e66c7200c62a4f4</string>
				<key>Unihan_DictionaryLikeData.txt</key>
				<string>fa10e62f7b5d8acf07c93f667b12ee38</string>
				<key>Unihan_IRGSources.txt</key>
				<string>07b0a60021fcac435c8c9d2cfd418462</string>
				<key>Unihan_NumericValues.txt</key>
				<string>ba1a8531a8405a7b3d68d170f680a0ea</string>
				<key>Unihan_OtherMappings.txt</key>
				<string>8cd49b07899a4943647053b5c0225963</string>
				<key>Unihan_RadicalStrokeCounts.txt</key>
				<string>ae4ce6336ed79807542b6a3e7c6db886</string>
				<key>Unihan_Readings.txt</key>
				<string>7b2d2b99b933950a3702bac5acdadedb</string>
				<key>Unihan_Variants.txt</key>
				<string>82bbe496bb88b347a58aef0762c756b9</string>
			</dict>
			<string>6.0.0</string>
		</array>
		<array>
			<dict>
				<key>Unihan_DictionaryIndices.txt</key>
				<string>8a8c9adc8c8417918089dcab0a93daf7</string>
				<key>Unihan_DictionaryLikeData.txt</key>
				<string>89847c933343dbc07bbbca7338bc0ce6</string>
				<key>Unihan_IRGSources.txt</key>
				<string>062007618d13549c8c5c5a2a1800995d</string>
				<key>Unihan_NumericValues.txt</key>
				<string>80b61ebdca6a5e80e9a4aa8481dfe05a</string>
				<key>Unihan_OtherMappings.txt</key>
				<string>b86cc60ffb1b92ae2a524a7ed2949666</string>
				<key>Unihan_RadicalStrokeCounts.txt</key>
				<string>b8f31f5ddfb49a5e3b238ba99ca53c96</string>
				<key>Unihan_Readings.txt</key>
				<string>56105de04931223dc0adb0debb950fcd</string>
				<key>Unihan_Variants.txt</key>
				<string>63db989d6c9f04d354886f0d0a609d86</string>
			</dict>
			<string>6.1.0</string>
		</array>
		<array>
			<dict>
				<key>Unihan_DictionaryIndices.txt</key>
				<string>f1aaa312dd0151cbb307f32166f74378</string>
				<key>Unihan_DictionaryLikeData.txt</key>
				<string>b5697a54b491e1849aea1b56b4f33bd1</string>
				<key>Unihan_IRGSources.txt</key>
				<string>5acf457f437420808f51d5a158c4d4d1</string>
				<key>Unihan_NumericValues.txt</key>
				<string>2963f9c20c45da9cc04f29a3c9f7481d</string>
				<key>Unihan_OtherMappings.txt</key>
				<string>d4ee9099d845b25b7d609e0d1a66ec92</string>
				<key>Unihan_RadicalStrokeCounts.txt</key>
				<string>1156538acb7f93393d0e0408b1d87137</string>
				<key>Unihan_Readings.txt</key>
				<string>b56d8203f90c20889a4f3865507488b0</string>
				<key>Unihan_Variants.txt</key>
				<string>66f73c1781160fde8d59855fe0f3572d</string>
			</dict>
			<string>6.2.0</string>
		</array>
		<array>
			<dict>
				<key>Unihan_DictionaryIndices.txt</key>
				<string>278bc46056b8d66dc114cffff4b41c78</string>
				<key>Unihan_DictionaryLikeData.txt</key>
				<string>424d86b1ba5198db923e064b1500dcb8</string>
				<key>Unihan_IRGSources.txt</key>
				<string>b75977c39fda235aaccdcc5728b8f463</string>
				<key>Unihan_NumericValues.txt</key>
				<string>2874bb7ba894da088b3746b5ffca8560</string>
				<key>Unihan_OtherMappings.txt</key>
				<string>7bc030082736f5d74ff9471c368c5cbb</string>
				<key>Unihan_RadicalStrokeCounts.txt</key>
				<string>c21f7e309e47d0bcbbb2eef7cc41000c</string>
				<key>Unihan_Readings.txt</key>
				<string>8d7d9d5a4bfaa4cf2d89262ae9af2469</string>
				<key>Unihan_Variants.txt</key>
				<string>022e23587c652bd129843f109c37b69d</string>
			</dict>
			<string>6.3.0</string>
		</array>
      <array>
         <dict>
            <key>Unihan_DictionaryIndices.txt</key>
            <string>74ca05cda0c12f6353ceb9773ad489b8</string>
            <key>Unihan_DictionaryLikeData.txt</key>
            <string>8d97c91a3138e5527fcc47076a403705</string>
            <key>Unihan_IRGSources.txt</key>
            <string>7bbfe2f9b02c45de3a428b9dba6be661</string>
            <key>Unihan_NumericValues.txt</key>
            <string>f2f8e8a5b5ffda90d54d15f2c7cfef05</string>
            <key>Unihan_OtherMappings.txt</key>
            <string>b4c01f409023e0702f345bd5c5464946</string>
            <key>Unihan_RadicalStrokeCounts.txt</key>
            <string>318e700435b13a8ce60496ce4dff63fa</string>
            <key>Unihan_Readings.txt</key>
            <string>c2cec2004274bc329b2b4c9eeabd5317</string>
            <key>Unihan_Variants.txt</key>
            <string>dc10c24d02b35a8cd427bbc8b91cb745</string>
         </dict>
         <string>7.0.0</string>
      </array>
      <array>
         <dict>
            <key>Unihan_DictionaryIndices.txt</key>
            <string>f3dc4444e3d1d11635ef077c4a5805aa</string>
            <key>Unihan_DictionaryLikeData.txt</key>
            <string>ac386a81b8fe6345661a6b1d9bd086e4</string>
            <key>Unihan_IRGSources.txt</key>
            <string>1aa33f4958a3ba895f7f5a59c9c62456</string>
            <key>Unihan_NumericValues.txt</key>
            <string>1051af8e7739574eeb0493d904ad6585</string>
            <key>Unihan_OtherMappings.txt</key>
            <string>c9a28f6eb183f903f3d4548a1bdcc4fb</string>
            <key>Unihan_RadicalStrokeCounts.txt</key>
            <string>7fb8ecda01ec2ccef3ce140603778174</string>
            <key>Unihan_Readings.txt</key>
            <string>6c0ae0be693533edd73a68f1c0bb7fe0</string>
            <key>Unihan_Variants.txt</key>
            <string>a3cc0f0e7507c6494c2368b42d186afd</string>
         </dict>
         <string>8.0.0</string>
      </array>
	</array>
	<key>UnicodeDataMD5</key>
	<array>
		<array>
			<string>f7cff4295d40f4d959d644383c18e964</string>
			<string>1.0.0</string>
		</array>
		<array>
			<string>f0f49a1657a194e72d1d6e4354e4e8e1</string>
			<string>1.0.0</string>
		</array>
		<array>
			<string>956e629bf21df0abd902cddbe1cde381</string>
			<string>1.1.5</string>
		</array>
		<array>
			<string>2106439b2edd8762960ea2b44006ba38</string>
			<string>2.0.14</string>
		</array>
		<array>
			<string>d6d9cb4961ac3724ab2220a1d561461f</string>
			<string>2.1.2</string>
		</array>
		<array>
			<string>fd3e4388b429ea4f7cd1fa40d656958e</string>
			<string>2.1.5</string>
		</array>
		<array>
			<string>153feac9f58b9fcf616a1b9791363ff6</string>
			<string>2.1.8</string>
		</array>
		<array>
			<string>80b62416a912869d19e1bcddee1fc182</string>
			<string>2.1.9</string>
		</array>
		<array>
			<string>10e81bc5287453e30e4692d42e5b4a0f</string>
			<string>3.0.0</string>
		</array>
		<array>
			<string>7bb6d840e41429ecdb02a947aef6ebb9</string>
			<string>3.0.1</string>
		</array>
		<array>
			<string>500cfb77e7e2444b59ca9b91a44d2d4c</string>
			<array>
				<string>3.1.0</string>
				<string>3.1.1</string>
			</array>
		</array>
		<array>
			<string>07ed3b1ed792970cb37904c523417116</string>
			<string>3.2.0</string>
		</array>
		<array>
			<string>f57cdd261af323de73ba28cdd6342c7b</string>
			<string>4.0.0</string>
		</array>
		<array>
			<string>5973d22eb803ca9987c483a28f78e6be</string>
			<string>4.0.1</string>
		</array>
		<array>
			<string>048a8d7e7649bb28d3861e4d8af45d07</string>
			<string>4.1.0</string>
		</array>
		<array>
			<string>f5935d7b28029cacb265a727be7750b6</string>
			<string>5.0.0</string>
		</array>
		<array>
			<string>b6c234687062b85cdde40efaabc57421</string>
			<string>5.1.0</string>
		</array>
		<array>
			<string>f299cb93f27b76ac94702f379f502ae5</string>
			<string>5.2.0</string>
		</array>
		<array>
			<string>f5338142b5dd42c577fe7a6daed1cf4b</string>
			<string>6.0.0</string>
		</array>
		<array>
			<string>265261ee867e0178eba7999a75acfdae</string>
			<string>6.1.0</string>
		</array>
		<array>
			<string>009130e975d92a7253853880273ae76f</string>
			<string>6.2.0</string>
		</array>
		<array>
			<string>f179b6ab790083cecb76c48986ae2681</string>
			<string>6.3.0</string>
		</array>
      <array>
         <string>c8355655731d75e6a3de8c20d7e601ba</string>
         <string>7.0.0</string>
      </array>
      <array>
         <string>3a83069e69e2a9101dc4749593cd3268</string>
         <string>8.0.0</string>
      </array>
	</array>
</dict>
</plist>
